[submodule "vr-foraging-data-transfer-post-acquisition/Aind.Behavior.VrForaging"]
	path = vr-foraging-data-transfer-post-acquisition/Aind.Behavior.VrForaging
	url = https://github.com/AllenNeuralDynamics/Aind.Behavior.VrForaging/
